<div *ngIf="!(loaded$ | async)" class="grid card p-fluid col-12">
  <div class="col-12">
    <p-progressBar mode="indeterminate" [hidden]="!loaded"></p-progressBar>
  </div>
  <div class="flex justify-content-between align-items-center p-fluid col-12">
    <h3 *ngIf="!id">Crear Detalle de Activo</h3>
    <h3 *ngIf="id">Actualizar Detalle de Activo {{ id }}</h3>
    <div class="col-fixed">
      <button
        pButton
        *ngIf="id > 0"
        type="button"
        label="Recargar"
        class="p-button-info"
        icon="pi pi-refresh"
        (click)="ngOnInit()"
      ></button>
    </div>
  </div>
  <form class="p-fluid grid col-12" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="p-fluid grid">
      <div class="field col-12 sm:col-6 md:col-4 md:col-3 xl:col-2">
        <span class="p-float-label">
          <p-dropdown
            id="asset"
            formControlName="asset"
            optionLabel="code"
            filterBy="code"
            [options]="assets"
            [showClear]="true"
            [filter]="true"
            placeholder="Activo"
          ></p-dropdown>
          <label for="asset">Activo</label>
        </span>
        <small
          appErrorMessage
          [errors]="assetField.errors"
          [touched]="assetField.touched"
          [dirty]="assetField.dirty"
        ></small>
      </div>
      <div class="field col-12 sm:col-6 md:col-4 md:col-3 xl:col-2">
        <span class="p-float-label">
          <input
            id="annualExistence"
            type="text"
            pInputText
            formControlName="annualExistence"
          />
          <label for="annualExistence">Existencia Anual</label>
        </span>
        <small
          appErrorMessage
          [errors]="annualExistenceField.errors"
          [touched]="annualExistenceField.touched"
          [dirty]="annualExistenceField.dirty"
        ></small>
      </div>
      <div class="field col-12 sm:col-6 md:col-4 md:col-3 xl:col-2">
        <span class="p-float-label">
          <input id="code" type="text" pInputText formControlName="code" />
          <label for="code">Código</label>
        </span>
        <small
          appErrorMessage
          [errors]="codeField.errors"
          [touched]="codeField.touched"
          [dirty]="codeField.dirty"
        ></small>
      </div>
      <div class="field col-12 sm:col-6 md:col-4 md:col-3 xl:col-2">
        <span class="p-float-label">
          <input
            id="initialExistence"
            type="text"
            pInputText
            formControlName="initialExistence"
          />
          <label for="initialExistence">Existencia Inicial</label>
        </span>
        <small
          appErrorMessage
          [errors]="initialExistenceField.errors"
          [touched]="initialExistenceField.touched"
          [dirty]="initialExistenceField.dirty"
        ></small>
      </div>
      <div class="field col-12 sm:col-6 md:col-4 md:col-3 xl:col-2">
        <span class="p-float-label">
          <p-inputNumber
            id="unitValue"
            formControlName="unitValue"
            mode="currency"
            currency="USD"
            locale="en-US"
          ></p-inputNumber>
          <label for="unitValue">Valor Initario</label>
        </span>
        <small
          appErrorMessage
          [errors]="unitValueField.errors"
          [touched]="unitValueField.touched"
          [dirty]="unitValueField.dirty"
        ></small>
      </div>
      <div class="field col-12 sm:col-6 md:col-4 md:col-3 xl:col-2">
        <span class="p-float-label">
          <p-inputNumber
            id="value"
            formControlName="value"
            mode="currency"
            currency="USD"
            locale="en-US"
          ></p-inputNumber>
          <label for="value">Valor Total</label>
        </span>
        <small
          appErrorMessage
          [errors]="valueField.errors"
          [touched]="valueField.touched"
          [dirty]="valueField.dirty"
        ></small>
      </div>
      <div class="p-fluid d-flex justify-content-center col-12">
        <div class="p-fluid col-fixed">
          <button
            pButton
            type="submit"
            icon="pi pi-save"
            class="p-button p-button-success"
            label="Guardar"
          ></button>
        </div>
        <div class="p-fluid col-fixed">
          <button
            pButton
            type="button"
            icon="pi pi-chevron-left"
            class="p-button p-button-warning"
            label="Cancelar"
            (click)="back()"
          ></button>
        </div>
      </div>
    </div>
    <div *ngIf="(loaded$ | async)!" class="field col-12">
      <app-progress-bar [message]="'mesage de prueba'"></app-progress-bar>
    </div>
  </form>
</div>
