.loading-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  width: 100%;
  z-index: 1100;

  & .loading-gif {
    max-width: 3rem;
    width: 100%;
  }
}
