<div
  class="d-flex gap-3 flex-column justify-content-center align-items-center max-w-screen w-100 min-vh-100"
>
  <img class="w-25rem" src="assets/images/logo.png" alt="logo" />
  <div
    class="d-flex gap-4 flex-row justify-content-center align-items-center mt-7"
  >
    <h1 class="">{{ "server-messages.404.title" | translate }}</h1>
    <span class="">{{ "server-messages.404.message" | translate }}</span>
  </div>
  <a [routerLink]="envRoutes.COMMON + '/' + commonRoutes.DASHBOARD">
    <button
      pButton
      type="button"
      label="Back"
      class="p-button-outlined p-button-info"
    ></button>
  </a>
</div>
