@import "./src/assets/styles/style";

.container-not-found {
  text-align: center;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  & .logo {
    width: 50rem;
  }

  & .not-found {
    background: $color-fad-blue;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    max-width: 100vw;
    width: 100%;

    & .not-found-icon {
      width: 2rem;
    }

    & .not-found-text {
      width: 100%;
    }
  }
}
