/* General */
$scale: 13px; /* main font size */
$borderRadius: 5px; /* border radius of layout element e.g. card, sidebar */
$transitionDuration: 0.1s; /* transition duration of layout elements e.g. sidebar, overlay menus */
