<!--AQUI COMIEZA EL HEADER-->

<nav>
  <nav id="NAV" class="navbar navbar-expand-lg navbar-light bg-ligth">
    <img id="logo" src="assets/images/logoFAD.ico" alt="imagen_logo" />

    <a id="navllamada" class="nav-link" href="#"
      ><span class="titulo"
        >F.A.D (FUNDACION DE AYUDA A DISCAPACITADOS)</span
      ></a
    >

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a id="LETRAS" class="nav-link" href=""
            >REGISTRATE <span class="sr-only"></span
          ></a>
        </li>
        <li class="nav-item active">
          <a id="LETRAS" class="nav-link" href=""
            >LOG IN<span class="sr-only"></span
          ></a>
        </li>
        <li class="nav-item">
          <a id="LETRAS" class="nav-link" href="#autos">INVENTARIO </a>
        </li>
        <li class="nav-item">
          <a id="LETRAS" class="nav-link" href="#autos">PRODUCTOS </a>
        </li>
        <li class="nav-item">
          <a id="LETRAS" class="nav-link" href="#autos">SERVICIOS </a>
        </li>
        <li class="nav-item">
          <a id="LETRAS" class="nav-link" href="#autos">HOME </a>
        </li>
      </ul>
    </div>
  </nav>
</nav>

<!--AQUI TERMINA EL HEADER-->
<!--AQUI EMPIEZA EL MAIN-->
<main class="container_2">
  <!--AQUI EMPIEZA EL CAROUSEL-->
  <div
    id="carousel"
    class="carousel slide"
    data-ride="carousel"
    data-pause="false"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets/images/imagen1.jpeg"
          class="img_carrusel d-block w-100"
          alt="imagen 1"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/imagen2.jpeg"
          class="img_carrusel d-block w-100"
          alt="imagen 2"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/imagen3.jpeg"
          class="img_carrusel d-block w-100"
          alt="imagen 3"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/imagen4.jpeg"
          class="img_carrusel d-block w-100"
          alt="imagen 3"
        />
      </div>
    </div>
    <div class="overlay">
      <div class="container text-center text-md-right">
        <div class="row mt-5">
          <div class="col-12 col-md-6 offset-md-6">
            <h1>
              Fundacion dedicada a la creacion de equipos personalizados para
              personas con discapacidad
            </h1>
            <p class="d-none d-md-block">
              Nos enfocamos principalmente en la ayuda social para aquellas
              personas que mas lo necesitan
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <!--AQUI TERMINA EL CAROUSEL-->

  <!--AQUI EMPIEZA LAS SECCIONES-->
  <section>
    <div class="container">
      <div class="row text-center">
        <div class="txt_info col-12 col-md-6">
          <h3>Misión</h3>
          <p>
            F.A.D es una fundacion que fabrica ayudas tecnicas,sillas de ruedas
            ,protesis personalizadas,para personas con discapacidades de escasos
            recuros economicos de la ciudad de Quito, brindando ademas
            motivacion en grupo de apoyo, mediante la implementacion de talleres
            adecuados a la construccion,fabricacion y mantenimiento de ayudas
            tecnicas
          </p>
        </div>
        <div class="txt_info col-6">
          <img id="imagen_cont" src="assets/images/imagen2.jpeg" alt="imagen2" />
        </div>
      </div>
      <br />

      <div class="row text-center">
        <div class="txt_info col-12 col-md-6">
          <h3>Visión</h3>
          <p id="autos">
            Brindar un servicio especializado a la persona con discapacidad para
            lograr adecuar la ayuda técnica que le permita su recuperación en
            forma mas efectiva.
          </p>
        </div>
        <div class="txt_info col-6">
          <img
            id="imagen_cont"
            src="assets/images/vision.jpg"
            alt="imagen_vision"
          />
        </div>
      </div>

      <br />
      <div class="row text-center">
        <div class="txt_info col-12 col-md-6">
          <h3>DIRECCIÓN</h3>
          <p id="autos">
            AV TENIENTE HUGO ORTIZ Y DIEGO MEJIA PARADA DEL TROLE LA
            INTERNCIONAL
          </p>
          <p>EMAIL: agustinnimarin@hotmail.com</p>
          <p>Telefonos: 02-302025/02-6022801</p>
        </div>
        <div class="txt_info col-6">
          <img
            id="imagen_cont"
            src="assets/images/fachada-fuera.jpg"
            alt="imagen_vision"
          />
        </div>
      </div>
    </div>
    <br />
  </section>
  <br />
  <!--AQUI TERMINAN LAS SECCIONES-->

  <!--AQUI TERMINAN LAS CARTAS-->
</main>

<footer>
  <div class="row py-3 container_iconos_redes">
    <div class="container_redes">
      <h5 class="titulo_redes">FUNDACION DE AYUDA A DISCAPACITADOS</h5>
    </div>
  </div>
  <div class="row container_redes text-center">
    <p class="titulo_redes">FAD.</p>
    <p class="titulo_redes">Todos los derechos reservados.</p>
    <p class="titulo_redes">Copyright© 2021-2022</p>
  </div>
</footer>

<!--AQUI TERMINA EL FOOTER-->

